<div class="quizModal">

  <div class="content-header">
      <div class="right" (click)="close()">CANCEL</div>        
      <span dir="ltr"><img src="assets/icon/merge.svg"> MERGE CARD SET</span>
  </div>

  <div *ngIf="Quizzes">
    <ion-item-divider>
      <div class="ion-item-inner">
        <span dir="ltr">Select a Card Set to merge with. After the merge, this Card Set will be deleted and all cards moved to the selected Set below.</span>
        <br /><span class="sm">Current Card Set has {{ cardcount }} card<span *ngIf="cardcount!=1">s</span></span>
      </div>
    </ion-item-divider>
    <ion-item-divider *ngIf="Quizzes.length === 0; else showCardSets" class="alert alert-warning">
      <span dir="ltr">No other Card Sets found.</span>
    </ion-item-divider>

    <ng-template #showCardSets>

      <ion-card *ngFor="let q of Quizzes" (click)="mergeAlert(q)" class="qcard {{ q.quizcolor }}">
        <ion-card-content>
          {{ q.quizname }}
          <span class="card-count" dir="ltr">({{q.cardcount}} Card<span *ngIf="q.cardcount!=1">s</span>)</span>
        </ion-card-content>    
      </ion-card>

    </ng-template>
  </div>  
</div>