
<ion-content>
  <ion-card *ngIf="Quizzes" class="qcard quiz-color-white">
    <ion-item-divider class="header-text" dir="ltr">
      Cloud Account:
    </ion-item-divider>
    <ion-item-divider>
      <div class="ion-item-divider-inner sm" dir="ltr">
        Download or delete card sets on your cloud account.
      </div>
    </ion-item-divider>
  
  </ion-card>

  <ion-card *ngIf="Quizzes && Quizzes.length==0" class="alert-notify">
    <ion-card-content dir="ltr">
      No cloud backups exist on your account. You can back up a card set by going to the card set Edit dropdown menu and clicking "Back-up" option.
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let q of Quizzes" class="qcard {{ q.quizcolor }}">
    <ion-card-content>
      <div class="right">
        <div (click)="downloadCloudSet(q.cloudId, q.id)" class="download-set"></div>
        <div (click)="deleteCloudSetAlert(q.cloudId, q.id)" class="delete-set"></div>
      </div>
      {{ q.quizname }}
      <span class="card-count" dir="ltr">({{q.cardcount}} Card<span *ngIf="q.cardcount!=1">s</span>)</span>
    </ion-card-content>    
  </ion-card>

</ion-content>

