<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="tabhome" (click)="gotoTab('tabhome')">
      <ion-icon name="flash"></ion-icon>
      <ion-label>STUDY</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabmanage" (click)="gotoTab('tabmanage')">
      <ion-icon name="create"></ion-icon>
      <ion-label>CREATE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabaccount" (click)="gotoTab('tabaccount')">
      <ion-icon name="person"></ion-icon>
      <ion-label>ACCOUNT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabmore" (click)="gotoTab('tabmore')">
      <ion-icon name="apps"></ion-icon>
      <ion-label>MORE</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
