<ion-card class="qcard quiz-color-white app-settings">

  <ion-item-divider class="header-text">
    <div class="ion-item-divider-inner" dir="ltr">
        QuizCard App Settings:
    </div>    
  </ion-item-divider>

  <ion-item-divider>
  <ion-toggle slot="end" (ionChange)="toggleSetting()" [(ngModel)]="_app.showAnswer"></ion-toggle>
    Show answer on Study cards 
  </ion-item-divider>

  <ion-item-divider>
    <ion-toggle slot="end" (ionChange)="toggleSetting()" [(ngModel)]="_app.quizAudio"></ion-toggle>
      Enable Correct/Incorrect sound
  </ion-item-divider>

  <ion-item-divider>
    <ion-select slot="end" (ionChange)="setMultiChoice($event)" value="{{_app.multiChoiceNum}}">
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
    </ion-select>
    <div>
      Multiple choice options
      <div dir="ltr" class="sm">Number of options to display in Multiple Choice Quiz Mode</div>
    </div>
  </ion-item-divider>

  <ion-item-divider>
    <ion-toggle slot="end" (ionChange)="toggleSetting()" [(ngModel)]="_app.rtl"></ion-toggle>
    <div>
      Right-to-Left view
      <div dir="ltr" class="sm">Enable only for languages that read right to left.<br /> App restart required to see change.</div>
    </div>
  </ion-item-divider>
  
  <ion-item-divider class="text-header">
    QuizCards App Details
  </ion-item-divider>

  <ion-item-divider>
    App Version: {{ _app.appVersion | number:'1.2-2' }}
  </ion-item-divider>

  <ion-item-divider>
    Database Version: {{ _app.dbVersion | number:'1.1-1' }}
  </ion-item-divider>
  
  </ion-card>