
<ion-content>

  <ion-card *ngIf="Quiz" [ngClass]="Quiz.quizcolor" class="qcard std-card">
    <ion-card-content>
      <div (click)="cardSetOptions($event)" class="right set-settings"><img src="assets/icon/settings.svg"></div>
      {{Quiz.quizname}}
      <div class="card-count">{{Quiz.cardcount}} Card<span *ngIf="Quiz.cardcount!=1">s</span></div>
      <div class="card-actions">
        <div (click)="addCard()" class="add-action">+ ADD CARD</div>
        <div *ngIf="allCards && allCards.length > 0" (click)="showSearch()" class="add-action card-view"><img src="assets/icon/search.svg"></div>
        <div *ngIf="allCards && allCards.length > 0" class="add-action card-view" (click)="switchView()"><img src="assets/icon/{{ Quiz.cardview }}.svg"></div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="_cardsloaded && allCards.length < 2" class="alert-notify">        
    <ion-card-content *ngIf="allCards.length==0">
      Note: For most effective Multiple Choice Quizzes, create cards that will have similar type of answers (dates, definitions, vocabulary etc). The Quiz will display the correct answer
      along with 3 other random answers from other cards in this set. Having cards with different kinds of answers may make the choosing the correct answer easier.
    </ion-card-content>
    <ion-card-content *ngIf="allCards.length==1">
        It's recommened to have at least 4 cards for effective Multiple Choice Quizzes.
    </ion-card-content>
  </ion-card>

  <ion-card-content *ngIf="_showSearch" style="margin-top:-10px">
    <input #searchTerm (keyup.enter)="filterCards(searchTerm.value)" type="text" class="input-text bgfocus" placeholder="Filter cards by typing here & enter...">
  </ion-card-content>

  <ion-card *ngIf="_cardsloaded && _showSearch && filteredCards.length == 0" class="alert-notify">        
    <ion-card-content>
      No cards found with your search term.
    </ion-card-content>
  </ion-card>
  <div style="height:calc(100vh - 160px);overflow-y:scroll;padding-bottom:30px;">
    <div
      #carditem
      *ngFor="let c of paginatedCards; let i = index;"      
      trackBy="trackCard"
      class="ion-card qcard cardlist quiz-color-white {{c.id}}" 
      [class.card-highlite]="c.cardorder == currentHighlite"
      [class.compact-view]="allCards.length > 0 && Quiz.cardview=='compact-view'"
      [class.hidden-card]="c.is_hidden == 1">

        <div (click)="cardOptions($event, c, i)" class="edit-card right" [class.hidden-edit]="c.is_hidden"></div>
        <span class="sm">{{ c.cardorder + 1 }}.</span> 
        <span *ngIf="c.c_image && Quiz.cardview=='detail-view'"><img class="card-image image-small" src="{{c.c_image}}"><br /></span>
        <img *ngIf="c.c_image && Quiz.cardview=='compact-view'" src="assets/icon/uploadimage.svg" class="media-icon">
        <img *ngIf="c.c_audio" src="assets/icon/audiofile.svg" class="media-icon">
        <span *ngIf="c.c_audio && Quiz.cardview=='detail-view'" class="sm">&nbsp; [{{c.c_audio}}]<br /></span>
        {{c.c_text}}
        <div *ngIf="Quiz.cardview=='detail-view'" class="card-detail">{{c.c_study}}</div>
    </div>

    <div #showmore *ngIf="_cardsloaded && filteredCards.length > paginatedCards.length" class="sm" style="padding:0 10px;text-align:center">
      Showing {{250 * _curSlice}} of {{filteredCards.length}} <span *ngIf="_filterTerm">(filtered)</span> cards
      <div class="qcard ion-card" (click)="loadMoreCards()" style="padding:10px;text-align:center;margin:0;background:#f4f5f8;">Load more cards</div>
    </div>
  </div>
</ion-content>