<ion-content>
<ion-card class="qcard quiz-color-white">
  <ion-item-divider class="header-text">
    QuizCards Account Login:
  </ion-item-divider>
  <ion-item-divider>
    <div class="ion-item-divider-inner">
      Please log in to access your account features.

      <div *ngIf="alertMessage!=''" class="alert alert-error">{{alertMessage}}</div>

      <form #f="ngForm" (ngSubmit)="login(f.value)">
        <div class="form-group">
          
          <input 
            (ngModel)="loginUser.email" 
            name="email" 
            id="email" 
            type="email"
            class="input-text bgfocus"
            placeholder="Email Address">
        </div>
        <div class="form-group">

          <input
            [(ngModel)]="loginUser.password" 
            name="password" 
            id="password" 
            type="password"
            class="input-text bgfocus" 
            placeholder="Password">
        </div>
        <ion-button type="submit" expand="block">Login</ion-button>
      </form>
    </div>
  </ion-item-divider>
  
  <ion-item-divider>
    <div class="ion-item-divider-inner">
      Don't have an account? Register free to gain access to cloud backups, community cards & more.
      <ion-button (click)="register()" expand="block" color="tertiary">Register Free</ion-button>
    </div>
  </ion-item-divider>

  <ion-item-divider>
    <div class="ion-item-divider-inner sm">  
      Forgot your password? Reset it here: <ion-button (click)="resetPwd()" color="medium" class="small" fill="outline" style="vertical-align: middle;">Reset</ion-button>        
    </div>
  </ion-item-divider>
</ion-card>
</ion-content>