
<ion-content>
<ion-card class="qcard quiz-color-white">
    <ion-item-divider class="header-text">
      Reset Password:
    </ion-item-divider>
    <ion-item-divider>
      <div class="ion-item-divider-inner">
        Please enter the email address you used to sign up with. We will send you a password reset link to your email.
  
        <div *ngIf="alertMessage!=''" class="alert alert-error">{{alertMessage}}</div>
  
        <form #f="ngForm" (ngSubmit)="resetPassword(f.value)">
          <div class="form-group">
            
            <input 
              [(ngModel)]="resetUser.email" 
              name="email" 
              id="email" 
              type="email"
              class="input-text bgfocus"
              placeholder="Email Address">
          </div>

          <ion-button type="submit" expand="block">Send Reset Link</ion-button>
        </form>
      </div>
    </ion-item-divider>
   
    <ion-item-divider>
      <div class="ion-item-divider-inner sm">  
        Still having problems logging in? Send a message to me at <a href="mailto:quizcardsapps@gmail.com">quizcardsapps@gmail.com</a>      
      </div>
    </ion-item-divider>
  </ion-card>
</ion-content>