
<ion-content>
  <ion-card class="qcard quiz-color-white">
    <ion-item-divider class="header-text">
      About the QuizCards App:
    </ion-item-divider>
    <ion-item-divider>
      <div class="ion-item-divider-inner">
        A study & flashcard app created by a an educator who just happens to know a little coding. I created this app 
        as a teaching tool for my students and wanted to share with everyone else who's looking to learn something new. 
        <br /><br />
        <strong>Looking for a specific feature?</strong>
        <br />
        I'm always looking for ways to improve this app, so if you have any suggestions or ideas to make this app work better for you,
        please contact me, and I'll help the best I can!
        <br /><br />
        Email: <strong><a href="mailto:quizcardsapps.com">quizcardsapps@gmail.com</a></strong>

      </div>
    </ion-item-divider>
  </ion-card>
</ion-content>
